@model MusicDB.Models.User

<section class="p-0 m-0 bgcolor w-100">
    <div class="container py-5 px-0">
        <div class="maxw bg-dark text-light rounded mx-auto p-5 text-center my-5">
            @using (Html.BeginForm("Register", "Users", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

            <form class="py-3 px-3">
                <p class="subtitle">Rejestracja</p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger small m-0 p-0" })

                <div class="form-group mb-4">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control clogin-form mt-2", @placeholder = "*Adres e-mail" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger small" })
                    @Html.ValidationMessage("EmailExists", "", new { @class = "text-danger small" })
                </div>
                <div class="form-group mb-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control clogin-form mt-2", @placeholder = "*Imię" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
                </div>
                <div class="form-group mb-4">
                    @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control clogin-form mt-2", @placeholder = "*Data urodzenia", onfocus = "(this.type='date')" } })
                    @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger small" })
                </div>
                <div class="form-group">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control clogin-form pwd", @placeholder = "*Hasło", @type = "password" } })
                        <span class="input-group-btn">
                            <button class="btn btn-default reveal reveal-style" type="button"><i class="bi bi-eye-slash" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger small" })
                </div>
                <button type="submit" value="Create" class="btn btn-light subtitle mt-5">Zarejestruj się</button>
                <div class="pt-4 small text-success">
                    @ViewBag.Message
                </div>
            </form>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}