@model MusicDB.Models.Artist

@{
    Layout = "~/Views/Shared/_Layout - admin.cshtml";
}


<div class="panel-name col-md-8 ms-sm-auto col-lg-9 col-xl-10 bg-dark border-bottom border-primary mx-0 pt-3 pb-2 px-3 mb-3">
    <h5 class="text-gray">Wykonawcy</h5>
</div>

<div class="col-md-8 ms-sm-auto col-lg-9 col-xl-10 mt-1 barlow">
    <div class="row px-3 pb-3">
        <div class="col-lg-6 col-12 m-0 p-3">
            <div class="bg-dark text-gray p-4">
                <p class="sidebar-heading m-0 pt-0 px-2 pb-3">dodaj</p>
                @using (Html.BeginForm("AddArtist", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <form>
                        <div class="mb-3">
                            <label for="inputName2" class="form-label">Nazwa</label>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-style" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
                        </div>
                        <div class="mb-3">
                            <label for="inputZDate2" class="form-label">Data założenia</label>
                            @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control form-style", onfocus = "(this.type='date')" } })
                            @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger small" })
                        </div>
                        <div class="mb-3">
                            <label for="inputRDate2" class="form-label">Data rozwiązania</label>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control form-style", onfocus = "(this.type='date')" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger small" })
                        </div>
                        <div class="mb-3">
                            <label for="inputCountry2" class="form-label">Pochodzenie</label>
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control form-style" } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger small" })
                        </div>
                        <div class="mb-3">
                            <label for="textareaBio2" class="form-label">Biografia</label>
                            @Html.EditorFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control form-style" } })
                            @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger small" })
                        </div>
                        <div class="mb-3">
                            <label for="formFile2" class="form-label">Zdjęcie</label>
                            <input class="form-control form-style" type="file" name="postedFile" accept=".png, .jpg, .jpeg" id="formFile">
                        </div>
                        <button type="submit" value="AddArtist" class="btn btn-primary">Dodaj</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>