@model IEnumerable<MusicDB.Models.Review>

@{
    Layout = "~/Views/Shared/_Layout - admin.cshtml";
}

<div class="panel-name col-md-8 ms-sm-auto col-lg-9 col-xl-10 bg-dark border-bottom border-primary mx-0 pt-3 pb-2 px-3 mb-3">
    <h5 class="text-gray">Recenzje</h5>
</div>

<div class="col-md-8 ms-sm-auto col-lg-9 col-xl-10 mt-1 barlow">
    <div class="row px-3 pb-3">
        <div class="col-12 m-0 p-3">
            <div class="bg-dark text-gray p-4">
                <p class="sidebar-heading m-0 pt-0 px-2 pb-3">lista</p>
                <div class="table-responsive">
                    <table id="example" class="table table-dark table-style table-sm">
                        <thead class="text-gray">
                            <tr>
                                <th class="col-1">#</th>
                                <th class="col-1">Data</th>
                                <th class="col-2">Album i wykonawca</th>
                                <th class="col-2">Autor</th>
                                <th class="col-5">Treść</th>
                                <th class="col-1">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ReviewID</td>
                                    <td>@item.Date</td>
                                    <td>"@item.Album.Title" @item.Album.Artists.FirstOrDefault().Name</td>
                                    <td>@item.User.Email</td>
                                    <td>@item.Review1</td>
                                    <td>
                                        @using (Html.BeginForm("DeleteReview", "Admin", new { id = item.ReviewID }, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" value="DeleteReview" class="btn btn-primary">Usuń</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>